{% extends "base.html" %}

{% block main_content %}
	<div class="large-9 columns article-content" role="content">
	<h3>Biosketch</h3>
	<hr>
	<div>
	<p>Xiaoliang Sunney Xie received a B.S. from Peking University in 1984, and his Ph.D. from the University of California at San Diego in 1990, followed by a short postdoctoral experience at the University of Chicago. In 1992, Xie joined Pacific Northwest National Laboratory, where he later became a Chief Scientist. In 1999, he was appointed Professor of Chemistry at Harvard University. He is now the Mallinckrodt Professor of Chemistry and Chemical Biology at Harvard, and the Cheung Kong Visiting Professor at Peking University, Biodynamics Optical Imaging Center (BIOPIC).</p>
	<p>Xie has made major contributions to the emergence of the field of single-molecule biophysical chemistry and its application to biology. His team also pioneered the development of coherent Raman scattering microscopy and single cell whole genome sequencing.</p>
	<p>His honors include the Harrison Howe Award, Biophysical Society Founders Award, E.O. Lawrence Award in Chemistry, Leibinger Innovation Prize, the NIH Director's Pioneer Award, the Sackler Prize for Physical Sciences. Xie is a fellow of the American Academy of Arts and Sciences and a member of the National Academy of Sciences.</p>
	</div>
	</div>
{% endblock %}
