{% extends "base.html" %}

{% block main_content %}

<div class="large-9 columns article-content">
<h3>Departure Check List</h3>
	<p>All Xie Group research personnel who are concluding their research with the Xie Group should 
	observe the following protocols:</p>
	<ul>
		<li>All laboratory notebooks and accumulated data must be archived and left with Professor Xie 
		or his laboratory administrator. Personal copies may be made by the researcher. The original 
		laboratory notebook(s) and CDs/DVDs of all data will be left with the Xie Group.
		</li>
		<li> Research co-workers must be updated on all findings and the status of current experiments. 
		The departing group member must ensure that all project information is documented, and that 
		training required by co-workers is given. All pertinent, research-related information (e.g., 
		collaborator or supplier contact information) must be available to co-workers continuing 
		work on the project.
		</li>
		<li> All Xie Group laboratory responsibilities held by departing group members must be allocated 
		to other group members. This should be discussed at a group meeting so that fair distribution 
		of duties and responsibilities can be arranged. Training shall be provided as needed. A new 
		responsibility list must then be compiled and distributed.
		</li>
		<li>Departing group members are also responsible for:
			<ul>
				<li> Clearing all personal data off of group computer equipment (archiving must be done on personal data storage devices);</li>
				<li> Cleaning up their desk workspace by removing all personal items and making sure that all group materials are stored appropriately;</li>
				<li> Cleaning up their laboratory work areas, including the proper disposal of any and all hazardous or waste materials, and removing all personal items;</li>
				<li> Leaving forwarding and contact information with the laboratory administrator;</li>
				<li> Returning to the administrator all keys to the Xie Group labs or other CCB facilities;</li>
				<li> Returning to Professor Xie or other group members any borrowed books or other materials, and return all library or other Harvard materials to the appropriate departments;</li>
				<li> Handling all immigration issues related to departure (contact Harvard International Office).</li>
			</ul>
		</li>
		<li> Any other duties as deemed appropriate by Professor Xie or his laboratory administrator.</li>
	</ul>
</div>
{% endblock %}


