{% extends "base.html" %}

{% block main_content %}

<div class="large-9 columns article-content">
<h3>Lab Equipment Responsibility List</h3>
	<table>
		<tr>
			<th width="200">Room Name/No.</th>
			<th width="200">Item Description</th>
			<th width="150">Manufacturer</th>
			<th width="150">Routine Maintenance</th>
			<th width="150">Responsible Party</th>
		</tr>
		<tr>
		  <td>Custodial Closet</td>
		  <td>Ice Machine</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>016 Equipment Room</td>
		  <td>Oven</td>
		  <td></td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Fume Hoods</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Rotovap</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Gas Cylinders</td>
		  <td>Air Gas</td>
		  <td>order</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Tissue Lyser</td>
		  <td>Qiagen</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Clean Hood</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD EZ Bead Emulsifier</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD EZ Bead Amplifier</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD EZ Bead Enricher</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Coulter Particle Counter</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>013 Old Wet Lab</td>
		  <td>CO2 Incubator</td>
		  <td></td>
		  <td></td>
		  <td>Frank</td>
		</tr>
		<tr>
		  <td></td>
		  <td>-20 freezer</td>
		  <td>Kenmore</td>
		  <td></td>
		  <td>Winston/David</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Upright -80 freezer</td>
		  <td>Revco</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Pippettes</td>
		  <td>misc.</td>
		  <td>Calibration</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>pH Meter</td>
		  <td></td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Analytical Balances</td>
		  <td>Mettler Toledo</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Spin Coater</td>
		  <td></td>
		  <td></td>
		  <td>Wenlong</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Fume Hood</td>
		  <td></td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Sonicator</td>
		  <td>VWR</td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Gas Cylinders</td>
		  <td></td>
		  <td>reorder</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Hot Water Baths</td>
		  <td>VWR</td>
		  <td></td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td></td>
		  <td>MilliQ Water System</td>
		  <td>Millipore</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>4 Degree Fridge</td>
		  <td>TRUE</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Small Fridges</td>
		  <td>Marvel, Kenmore</td>
		  <td></td>
		  <td>Winston</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Centrifuge</td>
		  <td>Thermo Scientific</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Biosafety Hood</td>
		  <td>Nuaire</td>
		  <td></td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Cell Microscope</td>
		  <td>Olympus</td>
		  <td></td>
		  <td>Frank</td>
		</tr>
		<tr>
		  <td></td>
		  <td>HPLC</td>
		  <td>Agilent</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>FPLC</td>
		  <td>AKTA</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>UV-Vis</td>
		  <td>&nbsp;</td>
		  <td></td>
		  <td>Shasha</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Fluorometer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Shasha</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Stopped Flow Instr.</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Microplate reader</td>
		  <td>Tecan</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Platform Rocker</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>011 New Wet Lab</td>
		  <td>-20 Degree Freezer</td>
		  <td>GE</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>4 Degree Large Fridge</td>
		  <td>Kenmore</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>4 Degree Small Fridges</td>
		  <td>Kenmore</td>
		  <td>&nbsp;</td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td></td>
		  <td>PCR Machines</td>
		  <td>MJ Research</td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Tube Rotator</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Heat Blocks w/element</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td></td>
		  <td>37 Degree Shaker</td>
		  <td>New Brunswick</td>
		  <td></td>
		  <td>David</td>
		</tr>
		<tr>
		  <td></td>
		  <td>30 Degree Incubator/Shaker</td>
		  <td></td>
		  <td></td>
		  <td>David</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Electroporator</td>
		  <td></td>
		  <td></td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Hot Water Bath</td>
		  <td>VWR</td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Microcentrifuges</td>
		  <td>misc.</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Fume Hood</td>
		  <td></td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Electrophoresis Stuff</td>
		  <td>Biorad</td>
		  <td></td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>032 Omega Lab</td>
		  <td>Plasma Cleaner</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Christof</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Refrigerators (4)</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Christof</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Epindorf PCR</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Christof</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Microcentrifuge</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>David</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Pipettes</td>
		  <td>&nbsp;</td>
		  <td>Calibration</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>37 Degree Incubator</td>
		  <td></td>
		  <td></td>
		  <td>David</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Oven</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>David</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Glassware Washer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Covaris S2 System</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>VWR Chiller</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Nanodrop</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>034 Gel Room</td>
		  <td>Autoclave</td>
		  <td></td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>-20 Upright freezer</td>
		  <td>Revco</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td></td>
		  <td>-80 Chest freezer</td>
		  <td>Revco</td>
		  <td></td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>4 Degree  Upright Fridge</td>
		  <td>VWR</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Gel Viewer</td>
		  <td>UVP</td>
		  <td>&nbsp;</td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Electrophoresis Stuff</td>
		  <td>Biorad</td>
		  <td>&nbsp;</td>
		  <td>Alec</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Microwave</td>
		  <td>Sharp</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Liquid Nitrogen Storage System</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>David</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>030 Microscope 3</td>
		  <td>CO2 Incubator</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>David/Christof</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Biosafety Hood</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>David</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>B03 Microscope 6</td>
		  <td>Soldering Station</td>
		  <td>Weller</td>
		  <td>&nbsp;</td>
		  <td>Wenlong</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>030 Microscope 7</td>
		  <td>Raman microscope</td>
		  <td>ISA/Dilor</td>
		  <td></td>
		  <td>Xu</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>RT-PCR</td>
		  <td>ABI</td>
		  <td>&nbsp;</td>
		  <td>Alec</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Laser Microdissection</td>
		  <td>Leica</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD Computing Cluster</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang/Alec</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Cryostat</td>
		  <td>Leica</td>
		  <td>&nbsp;</td>
		  <td>Frank</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>B05 Sequencing Room</td>
		  <td>454 Genome Sequencer</td>
		  <td>Roche</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>454 Computing Cluster</td>
		  <td>Roche</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOliD 4 Genome Sequencer</td>
		  <td>Life Technologies</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>4 Degree Fridge</td>
		  <td>Kenmore</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD 5500xl sequencer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>SOLiD 4 Computing Cluster</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang/Alec</td>
		</tr> 
		<tr>
		  <td>&nbsp;</td>
		  <td>MiSeq Sequencer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Alec/Lin</td>
		</tr> 
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>031 Cleanroom</td>
		  <td>CO2 Incubator</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>UV Crosslinker</td>
		  <td></td>
		  <td></td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>-20C Freezer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>4 Degree Fridge</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Biosafety Hoods</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Centrifuge</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Waterbath</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>029 (Offices)</td>
		  <td>Bernstein</td>
		  <td></td>
		  <td></td>
		  <td>Alec</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Espresso Machine</td>
		  <td>Cimballi</td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Microwave</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lingjie</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Black Fridge (rear)</td>
		  <td>Kenmore</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td></td>
		  <td>White Fridge (front)</td>
		  <td>Marvel</td>
		  <td></td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Office Supplies</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Tracey</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Copy machine, printers</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Larry</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>Drinking Water System</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Larry</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>FedEx Shipping</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Larry</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>Room Responsibilities:</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>031 Cleanroom</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Jun</td>
		</tr>
		<tr>
		  <td>030 Microscope 2</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Frank</td>
		</tr>
		<tr>
		  <td>025 Microscope 3</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Dan</td>
		</tr>
		<tr>
		  <td>012 Microscope 4</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chongyi</td>
		</tr>
		<tr>
		  <td>014 Microscope 5</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Winston</td>
		</tr>
		<tr>
		  <td>B03 Microscope 6</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Minbiao</td>
		</tr>
		<tr>
		  <td>015 Microscope 7</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Alec</td>
		</tr>
		<tr>
		  <td>Northwest 354</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lingjie</td>
		</tr>
		<tr>
		  <td>013 Old Wet lab</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Shasha</td>
		</tr>
		<tr>
		  <td>011 New Wet lab</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Hertz</td>
		</tr>
		<tr>
		  <td>032 Omega Lab</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Christof</td>
		</tr>
		<tr>
		  <td>016 Equipment Room</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Chenghang</td>
		</tr>
		<tr>
		  <td>034 Gel Room</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>B05 Sequencing Room</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td>General Lab Supplies</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>Chemical Organization</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>Biological and Chemical Safety Officer</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>Lin</td>
		</tr>
		<tr>
		  <td>Laser Safety Officer</td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td>Dan</td>
		</tr>
	</table>
</div>
{% endblock %}


