{% extends "base.html" %}

{% block main_content %}

<div class="large-9 columns article-content">
<h3>Add Network Printers</h3>
	<p>We currently have three printer for the group: a <b>HP Laserjet P4015 </b> (B/W), a <b>HP
	Color LaserJet CP4005</b> (Color) and a <b>RICOH Aficio MP 2815</b> (B/W copier) . All are
	accessible through the JetDirect TCP-IP Network printing protocol. Here are the IP addresses for
	the three printers:
	</p>
	<p><strong>RICOH Aficio MP C300SR (color copier)</strong>:128.103.96.206</p>
	<p><strong>HP Laserjet P4015 (Black and White)</strong>:128.103.92.232</p>
	<p>Follow the instructions on configuring wireless printer for <a
	href="http://www.cs.duke.edu/csl/faqs/windows/wireless-printing">Windows</a>, <a
	href="http://www.ehow.com/how_4812110_set-up-wireless-printer-mac.html">Mac</a>, and <a
	href="http://www.google.com">other operating systerms</a>.</p>
	<p>If you can't find the driver for the exact same printer model, try a similar one, there is a good chance it will work. And don't forget to setup &quot;Double-Sided Printing&quot; on all printers!</p>
	<div class="panel">Always use <strong>RICOH Aficio MP C300SR (copier)</strong> if you can, it
	prints faster, and costs a lot less than the other.</div> 
</div>
{% endblock %}


