{% extends "base.html" %}

{% block main_content %}
	<div class="large-9 columns article-content" role="content">
		<h3>Research Overview</h3>
		<div>
			<p>Welcome to the Xie Group research homepage. We are a group of scientists
			working at the interface of several disciplines, striving to
			develop new physical and chemical tools to solve compelling
			biological problems.</p>

			<p>Advances in life sciences over the past sixty years can best be
			described as understanding life processes at the molecular level.
			We have now sequenced the genomes of many species, including
			humans, and obtained high-resolution structures of many
			macromolecular machines. What are the new challenges? Well, there
			are many. One challenge, in particular, is to study how molecular
			machineries actually work &ndash; how they work in real time, how
			they work individually, how they work together, and finally, how
			they work inside live cells. How does genetic information carried
			by DNA control cell functions?</p>

			<p>Physical tools have always facilitated advances in biology.
			Notable examples are crystallography and the patch clamp
			techniques. In recent years, due to contributions from numerous
			research groups, single-molecule experiments have changed the way
			many biological problems are addressed. Knowledge from these
			experiments continues to emerge. Our group was one of the first to
			pioneer fluorescence studies of single molecules at room
			temperature in the early 1990s and has since made important
			advances in <a
			href="/research/single_molecule_spectroscopy/">single molecule
			spectroscopy and imaging</a>, and their application to biophysical
			chemistry, and molecular and cell biology. Our interest has been
			not only to bring about technological innovations, but to generate
			new insights on fundamental scientific issues as well.</p>

			<p>There are many reasons to use the single-molecule approach in
			biology. First, single-molecule experiments generate movies of
			motions and biochemical reactions of macromolecular machineries,
			which are particularly helpful in elucidating their mechanisms. In
			establishing <a
			href="/research/single_molecule_enzymology/">single
			molecule enzymology</a>, we developed in vitro assays to probe
			enzyme activities and conformational dynamics of single molecules,
			statistical analyses for their stochastic kinetics, and theoretical
			models for fundamental understanding of the observed phenomena. We
			have carried out studies of DNA protein interactions;  for example,
			the search of a target DNA sequence by a nonspecifically bound
			protein, allostery through DNA, and transcription bursting of RNA
			polymerase induced by DNA supercoiling.</p>

			<p>Secondly, there are only one or two copies of a particular gene
			in an individual cell, which result in <a
			href="/research/gene_expression_in_living_cells/">stochastic
			gene expression</a> that cannot be synchronized with other cells.
			Recently, we achieved single-molecule sensitivity for many
			proteins, with millisecond time resolution and nanometer precision
			in a living cell. We were able to observe protein being generated
			one molecule at a time in <em>E. coli </em>cells and to describe
			and understand transcription and translation processes at a
			quantitative level. We found that a single-molecule event can be
			solely responsible for the life-changing decision of a cell.</p>

			<p>On another front, since 1999, our group has led in the rapid
			development of <a href="/research/crs_microscopy/">Coherent
			anti-Stokes Raman Scattering (CARS) microscopy</a> which was
			recently superseded by our advance of <a
			href="/research/crs_microscopy/#srs">Stimulated Raman Scattering
			microscopy</a> (SRS). These are label-free imaging techniques based
			on vibrational spectroscopy, and are capable of video-rate,
			noninvasive examination of living cells and organisms. Orders of
			magnitude more sensitive than conventional Raman microscopy, they
			allow mapping of 3D distributions of small molecules, such as
			metabolites and drugs, as well as tumor identification in tissues,
			which open exciting new possibilities for biology and
			medicine.</p>

			<p>Finally, our newest single molecule experiment sequences the <a
			href="/research/single_cell_genomics/">genome of a single human
			cell</a> with &gt;90% coverage, detects the quantized copy number
			variation, and calls single base mutation with no false positives.
			This allows unprecedented capability in fundamental research, such
			as direct measurements of mutation rates, as well as exciting
			possibilities in medicine, such as cancer diagnostics and
			prognostics by analyzing circulating tumor cells, comprehensive
			prenatal tests, and safe in vitro fertilization.</p>

			<p>With a wealth of physical and chemical tools at our disposal,
			our group is excited to make both scientific and technological
			contributions to life science. </p>

			<br>
			<p>Sunney Xie</p>
		</div>
	</div>

	<script src="{{ STATIC_URL }}customize/affix.js"></script>
{% endblock %}
